/*Note: There are three different ways to add background colors here.
You can add them using a name (for common names), Hex, or RGB values.
*/

.box {
   display: inline-block;
   background: red;
   width: 100px;
   height: 100px;
   float: left;
   margin: 20px;
   color: white;
}

#two {
   position: absolute;
   top: 20px;
   left: 20px;
}